@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  --line: 1px solid #f4f2f2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  min-width: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  min-height: 100dvh;
  color: var(--color-grey-dark-2);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.center-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width: 1200px) {
  .center-app {
    height: auto;
    display: block;
  }
}

.container {
  max-width: 120rem;
  margin-inline: auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}

.header {
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 7rem;
}
@media only screen and (max-width: 605px) {
  .header {
    height: 12rem;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: space-around;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}

.detail {
  display: flex;
  padding: 3.2rem;
  gap: 3.2rem;
  background-color: var(--color-grey-light-1);
  font-size: 1.4rem;
}
@media only screen and (max-width: 900px) {
  .detail {
    padding: 2.4rem;
  }
}
@media only screen and (max-width: 700px) {
  .detail {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 2rem;
}
@media only screen and (max-width: 900px) {
  .description {
    padding: 1.6rem;
  }
}

.user-reviews {
  flex: 1;
  text-align: center;
}

.logo {
  /* height: 3.25rem; */
  margin-left: 2rem;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 2.4rem;
}
@media only screen and (max-width: 410px) {
  .logo {
    font-size: 2rem;
  }
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 605px) {
  .search {
    order: 1;
    flex: 0 0 100%;
  }
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  color: inherit;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input::placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__input:focus {
  background-color: var(--color-grey-light-3);
  width: 100%;
  outline: none;
}
.search__btn {
  border: none;
}
.search__btn:focus {
  outline: none;
}
.search__btn:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
  display: flex;
  align-items: center;
  position: relative;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  right: 20%;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-nav__user-photo {
  height: 3.375rem;
  border-radius: 100px;
}
.user-nav__username {
  margin-right: 2rem;
}

.side-nav {
  list-style: none;
  font-size: 1.4rem;
}
@media only screen and (max-width: 900px) {
  .side-nav {
    display: flex;
  }
}
.side-nav__item {
  position: relative;
}
@media only screen and (max-width: 900px) {
  .side-nav__item {
    flex: 1;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__link:link, .side-nav__link:visited {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 900px) {
  .side-nav__link:link, .side-nav__link:visited {
    justify-content: center;
  }
}
@media only screen and (max-width: 635px) {
  .side-nav__link:link, .side-nav__link:visited {
    flex-direction: column;
    gap: 0;
    padding: 1rem;
  }
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: currentColor;
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}
@media only screen and (max-width: 900px) {
  .legal {
    display: none;
  }
}

.gallery {
  display: flex;
}
.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);
}
.overview__heading {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}
@media only screen and (max-width: 670px) {
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
}
@media only screen and (max-width: 478px) {
  .overview__heading {
    flex: 1;
  }
}
.overview__stars {
  margin-right: auto;
  display: flex;
  gap: 0.2rem;
}
.overview__icon-star, .overview__icon-location {
  width: 1.7rem;
  height: 1.75rem;
  fill: var(--color-primary);
}
.overview__location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  padding: 0 2.2rem;
}
.overview__rating {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2.2rem;
  background-color: var(--color-primary);
  color: #fff;
}
@media only screen and (max-width: 670px) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 548px) {
  .overview__rating {
    display: none;
  }
}
.overview__rating-average {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.25;
}
@media only screen and (max-width: 670px) {
  .overview__rating-average {
    font-size: 1.8rem;
  }
}
.overview__rating-votes {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  margin: 3.2rem 0;
  padding: 3.2rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.list__item::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--color-primary);
  mask-image: url("../img/chevron-thin-right.svg");
  mask-size: cover;
}

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--color-grey-dark-3);
}
.recommend__count {
  margin-right: auto;
}
.recommend__users {
  display: flex;
}
.recommend__photo {
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}

.review {
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 2rem;
  margin-bottom: 3.2rem;
  position: relative;
  overflow: hidden;
  text-align: left;
}
.review__text {
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}
.review__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.review__photo {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
}
.review__user-box {
  margin-right: auto;
}
.review__username {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.review__user-date {
  font-size: 1rem;
  color: var(--color-grey-dark-3);
}
.review__rating {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 300;
}
.review::before {
  content: "“";
  position: absolute;
  top: -18%;
  left: 0;
  font-size: 20rem;
  font-family: sans-serif;
  line-height: 1;
  color: var(--color-grey-light-2);
}

.cta {
  padding: 3.2rem 0;
  text-align: center;
}
.cta__book-now {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.btn {
  border: none;
  background: none;
  font-size: inherit;
}
.btn--inline {
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  transform: all 0.2s;
}
.btn--inline span {
  margin-left: 3px;
  transition: all 0.2s;
}
.btn--inline:hover {
  color: var(--color-grey-dark-1);
  animation: pulsate 1s infinite;
}
.btn--inline:hover span {
  margin-left: 8px;
}
.btn--inline:focus {
  outline: none;
}
.btn--cta {
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  font-size: 1.6rem;
  background-color: var(--color-primary);
  color: #fff;
  position: relative;
  overflow: hidden;
}
.btn--cta span {
  display: inline-block;
  transition: all 0.2s;
}
.btn--cta__visible {
  padding: 2rem 3.2rem;
  height: 100%;
  width: 100%;
}
.btn--cta__invisible {
  position: absolute;
  left: 0;
  top: -100%;
  height: 100%;
  width: 100%;
  padding: 2rem 0;
}
.btn--cta:hover .btn--cta__visible {
  transform: translateY(100%);
}
.btn--cta:hover .btn--cta__invisible {
  top: 0;
  color: #fff;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.01);
    box-shadow: var(--shadow-dark);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/*# sourceMappingURL=style.css.map */
